body {
  margin: 0;
  background-image: url('../public/background.png');
  background-size: 100vw 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

a {
  color: #00f56a;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-content {
  display: flex;
  margin: auto;
  padding: 10px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.content-block {
  padding: 20px;
  background-color: var(--background-color-objects);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.center-block {
  display: grid;
  grid-row-gap: 5px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--background-color-objects);
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-width: 800px;
}

.two-blocks {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 8px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.few-blocks {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-column-gap: 8px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  min-width: 800px;
  width: 100%;
}

:root {
  --text-color: #F2ECFF;
  --text-color-disabled: #F2ECFF;
  --background-color-objects: #1F2833;

  --body-color: #151515;
  --background-color-main: #OB0C10;
  --calendar-cells-background: #657B81;
  --checkbox-on-color: #66FCF1;
  --checkbox-off-color: #45A29E;
  --border-color: #C5C6C7; /* Цвет границ */
  --day-view-hourline-color: #45A29E;
}
